@page
@model TalkingStumpShop.Pages.AboutModel
@{
    <div class="container py-5">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-12">
                <div class="text-block rounded">
                    <h3>Наша история</h3>
                    <div>
                        <p>
                            "Говорящий Пень" - это история страсти, творчества и упорства,
                            начавшаяся два года назад. Небольшая команда мастеров с
                            разнообразными талантами и навыками объединилась, чтобы создать
                            что-то уникальное и особенное. Наше путешествие началось с мечтаний
                            и амбиций, и с тех пор мы приобрели богатый опыт и множество
                            постоянных клиентов.
                        </p>
                        <p>
                            Сначала, как многие начинающие творцы, мы ютились в скромном гараже
                            в гаражном кооперативе. Это были долгие ночи, наполненные стуком
                            молотков и ароматом свежей древесины, когда мы разрабатывали и
                            создавали наши первые работы. Эти скромные начинания были нашим первым
                            шагом на пути к осуществлению наших мечт.
                        </p>
                        <p>
                            С течением времени наши работы начали привлекать внимание и наших друзей,
                            и клиентов. С каждым заказом мы приобретали опыт и уверенность в своих
                            способностях. Мы верили в наших идеях и непрерывно развивались.
                        </p>
                        <p>
                            Сегодня мы с гордостью можем сказать, что "Говорящий Пень" – это не просто
                            мастерская, но и место, где искусство и природа встречаются. Мы арендуем
                            цех, оснащенный современным оборудованием, и наша команда продолжает расти
                            и совершенствоваться.
                        </p>
                    </div>
                </div>
                <div class="text-block rounded">
                    <h3>Наши мастера</h3>
                    <div>
                        <p>
                            Каждый мастер в нашей команде обладает богатым опытом и творческим видением.
                            Мы стремимся к совершенству и постоянно совершенствуем свои навыки, изучая
                            новые техники и тенденции в мире деревообработки и искусства смолы.
                            Мы гордимся тем, что наши мастера способны воплотить в жизнь самые сложные
                            и амбициозные проекты.
                        </p>
                    </div>
                    <div class="carousel-wrapper flex-row p-1 rounded-1">
                        <div class="carousel-controls">
                            <button class="btn-primary carousel-button" id="prev">&lt;</button>
                        </div>
                        <div class="carousel">
                            <div class="carousel-card">
                                <div class="wheel-card">
                                <div>
                                    <div class="wheel-card-header">Даниил</div>
                                    <img src="about/daniil.png" alt="">
                                </div>
                                </div>
                            </div>
                            <div class="carousel-card">
                                <div class="wheel-card">
                                <div>
                                    <div class="wheel-card-header">Андрей</div>
                                    <img src="about/andrey.png" alt="">
                                </div>
                                </div>
                            </div>
                            <div class="carousel-card">
                                <div class="wheel-card">
                                    <div>
                                        <div class="wheel-card-header">Александр</div>
                                        <img src="about/alexandr.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-controls">
                            <button class="btn-primary carousel-button" id="next">&gt;</button>
                        </div>
                    </div>

                </div>
                <div class="text-block rounded">
                    <h3>Наши ценности</h3>
                    <div>
                        <p>
                            В центре нашей деятельности лежит глубокое уважение к природе и дереву.
                            Мы верим, что каждое дерево имеет свою историю и свою душу, и мы стремимся
                            сохранить их в каждом изделии, которое мы создаем. Наша работа наполнена
                            уважением к окружающей среде, и мы используем только экологически чистые
                            материалы и методы производства.
                        </p>
                    </div>
                </div>
                <div class="text-block rounded">
                    <h3>Наше искусство</h3>
                    <div>
                        <p>
                            В мастерской "Говорящий Пень" мы создаем широкий спектр авторских изделий,
                            от мебели и декора до подарков и украшений. Наши мастера умело сочетают натуральные
                            древесные текстуры с яркими красками эпоксидной смолы, создавая удивительные эффекты
                            и картины, которые оживают в ваших руках.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
