@page
@model TalkingStumpShop.Pages.AdminPasswordChangeModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Смена пароля";
}
<div class="content" id="content">
    <div class="container py-5">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-12">
                <div class="row justify-content-center mb-3">
                    <div class="col-md-6 col-xl-6 mt-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                                        <form method="post">
                                            
                                            <div class="form-outline mb-4">
                                                <input type="password" id="currentPassword" class="form-control" asp-for="CurrentPassword" />
                                                <label class="form-label">Текущий пароль</label>
                                            </div>
                                            <span class="text-danger" asp-validation-for="CurrentPassword"></span>

                                            <div class="form-outline mb-4">
                                                <input type="password" id="newPassword" class="form-control" asp-for="NewPassword" />
                                                <label class="form-label">Логин</label>
                                            </div>
                                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                                            
                                            <div class="form-outline mb-4">
                                                <input type="password" id="confirmPassword" class="form-control" asp-for="ConfirmPassword" />
                                                <label class="form-label">Подтверждение</label>
                                            </div>
                                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                            
                                            <button type="submit" class="btn btn-primary btn-block mb-4 col-12">OK</button>

                                            @if (!Model.ModelState.IsValid)
                                            {
                                                <div class="alert alert-danger">
                                                    @foreach (var modelError in Model.ModelState.Values.SelectMany(v => v.Errors))
                                                    {
                                                        <span>@modelError.ErrorMessage</span>

                                                        <br />
                                                    }
                                                </div>
                                            }
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>