@page
@model TalkingStumpShop.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="content" id="content">
    <table>
        <tr>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/cutting-board-cats.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Набор разделочных досок</div>
                        <div class="product-price">1,299 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/epoxy-pendant.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Кулон с цветком</div>
                        <div class="product-price">1,599 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/epoxy-ring.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Кольцо из эпоксидной смолы</div>
                        <div class="product-price">599 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/epoxy-vase.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Ваза "Всплеск"</div>
                        <div class="product-price">4,499 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/idol-set.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Набор статуэток из дерева</div>
                        <div class="product-price">2,199 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
        <tr>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/wooden-perun-idol.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Статуэтка "Перун"</div>
                        <div class="product-price">1,599 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/wooden-perun-idol-1.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Статуэтка "Воин"</div>
                        <div class="product-price">1,899 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/wooden-clock-waves.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Часы "Волны"</div>
                        <div class="product-price">3,099 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/picture.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Картина "Абстракция"</div>
                        <div class="product-price">13,999 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="product-card">
                    <img class="product-image" src="catalog/wooden-clock.jpg" alt="alt">
                    <div class="product-wrapper">
                        <div class="product-name">Деревянные часы</div>
                        <div class="product-price">2,299 Р</div>
                        <button class="buy-button" type="button">Купить</button>
                    </div>
                </div>
            </td>
        </tr>
        <td>
            <div class="product-card">
                <img class="product-image" src="catalog/wooden-clock-epoxy.jpg" alt="alt">
                <div class="product-wrapper">
                    <div class="product-name">Деревянные часы со смолой</div>
                    <div class="product-price">2,899 Р</div>
                    <button class="buy-button" type="button">Купить</button>
                </div>
            </div>
        </td>
        <tr>
        </tr>
    </table>
</div>